<div class="center hero-unit">
	<h1>Welcome to the Job App</h1>

	<h2>
		this is the tempory homepage for the job app
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
